*{
    font-family: "Pacifico", cursive;
    font-weight: 400;
}

body{
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("Assets/main-bg.jpg");
    background-size: cover;
}

.main-timer{
    font-size: 15rem;
    color: #502b16;
}

.control-btns{
    /*width: 23rem;*/
    /*border: 4px black solid;*/
    display: flex;
    justify-content: space-around;
}

button{
    padding: 12px;
    background-color: #e1b6af;
    font-size: 1.1em;
    color: whitesmoke;
    border-width: 4px;
    border-radius: 15px;
    border-color: #d6b17e;
}

input{
    padding: 12px;
    background-color: #e1b6af;
    font-size: 1.2em;
    width: 2.5rem;
    color: whitesmoke;
    border-width: 4px;
    border-radius: 15px;
    border-color: #d6b17e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*.inpBtn{*/
/*    margin-left: 0.5rem;*/
/*}*/

.start-btn{
    margin-left: 0.7rem;
}

.reset-btn{
    margin-top: 1rem;
}

.colon{
    position: relative;
    top: 0.26rem;
    font-size: 3rem;
    color: #d6b17e;
}

.user-Input{
    margin-top: 1rem;
    position: relative;
    display: inline-block;
}

.hide{
    display: none;
}

/*
shift the bg upward
body{
    background-position-y: -8rem;
}

.control-btns{
    position: relative;
    top: -7rem;
}

.main-timer{
    position: relative;
    top: -4rem;
}
 */